@model List<Category>
@{
    ViewData["Title"] = SharedLocalizer["Home"];
}

<div class="container">
    <h1 class="alert text-center ">@SharedLocalizer["MainCategories"]</h1>
    <hr class="my-4 w-50 mx-auto">
    @if(Model.Count==0){
        <p class="text-center">@SharedLocalizer["NoCategories"]</p>
    }

    <div class="row d-flex justify-content-center align-items-center gap-2">
                 @foreach(Category item in Model)         
        {
            <dic class="col-12 col-md-6 col-lg-3">
              <div class="card text-center h-100">
                <div class="card-body">
                  <div class="mb-4">
                      <i class=" @item.Icon text-secondary fa-2xl" ></i>
                   </div>
                    <h4 class="fw-bold mb-4">
                        @item.Name
                    </h4>
                    <a asp-action="Products" asp-route-id=@item.Id class="btn btn-primary">@SharedLocalizer["ViewProducts"]</a>
                </div>
              </div>
            </dic>
        }
    </div>
</div>