@{
    ViewData["Title"] = SharedLocalizer["Products"];
}

<div class="container">
      <h1 class="alert text-center ">@SharedLocalizer["AvailableProducts"]</h1>
    <hr class="my-4 w-50 mx-auto">
    @if(ViewBag.Filtered.Count==0)
    {
        <h1 class=" text-center ">@SharedLocalizer["NoProducts"]</h1>
    }

    else{
        <div class="row d-flex justify-content-center align-items-center gap-2">
            @foreach(dynamic item in ViewBag.Filtered)
            {
                <div class="col-sm-4">
                    
                    <div class="card h-100"> 
                      <img src="~/images/@item.ImageUrl" class="card-img-top" width="100" height="300" />
                      <div class="card-body">
                        <div class="card-title">
                            @item.Name
                        </div>
                        <h5 class="badge bg-success text-white">
                            @item.Price @SharedLocalizer["Currency"]
                        </h5>
                        
                        <div class="mb-4">
                             <a asp-controller="Home" asp-action="Details"  asp-route-name="@item.Name"  class="btn btn-primary">@SharedLocalizer["ProductDetails"]</a>
                        </div>

                      </div>
                    </div>
                </div>
            }
        </div>
    }
</div>